<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="myPerms" class="cn.itcast.filter.MyPermsFilter"/>
    <!-- filter-name这个名字的值来自于web.xml中filter的名字 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--登录页面 如果没有登录 访问项目的方法或页面 直接跳转到这个页面 -->
        <property name="loginUrl" value="/login.jsp"></property>
        <!--登录后 在访问没有经过授权的方法或页面时 直接跳转到这个页面 -->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"></property>

        <property name="filters">
            <map>
                <entry key="myPerms" value-ref="myPerms"/>
            </map>
        </property>

<!--        过滤器链-->
        <property name="filterChainDefinitions">
            <!-- /**代表下面的多级目录也过滤 -->
            <value>
<!--                未登录时能访问login.jsp页面-->
                /login.jsp = anon
                /css/** = anon
                /img/** = anon
                /make/** = anon
                /plugins/** = anon
                /login.do = anon
               <!-- 当前登录人必须有“部门管理”和“删除部门”的权限才能访问此方法-->
                /system/dept/list.do = myPerms["部门管理","删除部门"]
                <!--  /system/module/list.do = perms["模块管理","SSSS"]
                   /company/list.do = perms["企业管理"]
                  /system/user/list.do = perms["用户管理"]
                  /system/user/toAdd.do = perms["用户管理"]
                  /system/user/toUpdate.do = perms["用户管理"]
                  /system/user/edit.do = perms["用户管理"]
                  /system/user/delete.do = perms["用户管理"]
                  /system/role/list.do = perms["角色管理"]
                  /system/dept/list.do = perms["部门管理"]-->
                <!--                都需要登录才能访问-->
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 引用自定义的realm  -->
    <bean id="saasRealm" class="cn.itcast.realm.SaasRealm"/>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
         <property name="realm" ref="saasRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>


<!--    如果使用shiro注解开发必须要加上以下配置文件-->
    <!-- 安全管理器 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 生成代理，通过代理进行控制 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>


</beans>
