<component name="ArtifactManager">
  <artifact type="war" name="spring_cxf_rs_provider:war">
    <output-path>$PROJECT_DIR$/../spring_cxf_rs_provider/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_cxf_rs_provider</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_cxf_rs_provider-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_cxf_rs_provider:war exploded" />
    </root>
  </artifact>
</component>